<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜搜搜</title>
    <link rel="shortcut  icon" type="image/x-icon" href="http://10.177.68.13:80/static/book.ico" media="screen"  />
    <link type="text/css" rel="stylesheet" href="http://10.177.68.13:80/static/css/bootstrap.min.css">
    <script src="http://10.177.68.13:80/static/jquery-3.2.0.min.js"></script>
    <script src="http://10.177.68.13:80/static/js/bootstrap.min.js"></script>
    <style>
        .img1{

            margin-left:35%;
            margin-right: 20%;
            width: 30%;
            margin-top: 8%;
        }

        .text1{
            width: 40%;
            display: inline-block;
        }

    </style>
</head>
<body>

{% block main%}
{% endblock %}

<footer style="text-align: center; margin-top: 10%">
      ©  Copyrigh2017年4月22号 designed by NST
</footer>

</body>
</html>