{% extends "base.html" %}
{% block main %}
<div class="container" >
    <div class="row clearfix" >
        <div class="col-md-12 column">
            <ul class="nav nav-tabs">
                <li>
                    <a href="main.html">首页</a>
                </li>
                <li>
                    <a href="introduce.html">简介</a>
                </li>
                <li>
                    <a href="team_introduce.html">信息</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉
                        <strong class="caret"></strong> </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">操作</a></li>
                        <li><a href="#">设置</a></li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>
</div>

<div style="margin-top: 80px">
    <div class="zjb" id="lmb" >&nbsp;&nbsp;
        队长：张俊博
    </div>
    <div class="zjb">&nbsp;&nbsp;
        队员：李梦博
    </div>
    <div class="zjb" id="lmb">&nbsp;&nbsp;
        队员：杨海玉
    </div>
    <div class="zjb">&nbsp;&nbsp;
        队员：胡云龙
    </div>
</div>

</html>