<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小说阅读</title>

    <style>
        html,body{
            width:100%;
            height:100%;
            margin:0;
            padding:0;
        }

        #row{
            width:100%;
            background: #000;
            padding-left: 500px;
            position: relative;
            box-sizing: border-box;
        }
        #mulu{
            height: 100%;
            width: 500px;
            padding-left:500px;
            box-sizing: border-box;
            position: fixed;
            background: #47feaf;
            border-radius: 20px;
            left:0;
        }

        #content{
            padding: 0;
            margin-bottom: 0;
            width: 100%;
            background: #c8fffc;
            height: 100%;
            border-radius: 20px;
            box-sizing: border-box;
            padding: 50px;
        }

        #ul_con{
            position: inherit;
            left:50px;
            list-style-type: none;
            border:1px solid #b2dba1;
            border-radius: 20px;
        }
        #ul_con li{
           padding: 5px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="row">
<div id="mulu">
    <ul id="ul_con">

        <!--填写目录链接，在本地服务器的位置信息-->


        <li><a href="http://www.newxue.com/zuojia/12446129991605.html" target="_blank">尼·奥斯特洛夫斯基简介</a></li>
        <li><a href="http://www.newxue.com/baike/12456508245178.html" title="·内容提要·" target="_blank">·内容提要·</a></li>
        <li><a href="http://www.newxue.com/baike/12456508255179.html" title="·作品赏析·" target="_blank">·作品赏析·</a></li>
        <li><a href="http://www.newxue.com/baike/12456508265180.html" title="译者前言" target="_blank">译者前言</a></li><li>
        <a href="http://www.newxue.com/baike/12456508285181.html" title="第一部　第一章" target="_blank">第一部　第一章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508295182.html" title="第一部　第二章" target="_blank">第一部　第二章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508305183.html" title="第一部　第三章" target="_blank">第一部　第三章</a>
        </li><li><a href="http://www.newxue.com/baike/12456508325184.html" title="第一部　第四章" target="_blank">第一部　第四章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508335185.html" title="第一部　第五章" target="_blank">第一部　第五章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508355186.html" title="第一部　第六章" target="_blank">第一部　第六章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508365187.html" title="第一部　第七章" target="_blank">第一部　第七章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508385188.html" title="第一部　第八章" target="_blank">第一部　第八章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508395189.html" title="第一部　第九章" target="_blank">第一部　第九章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508415190.html" title="第二部　第一章" target="_blank">第二部　第一章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508425191.html" title="第二部　第二章" target="_blank">第二部　第二章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508445192.html" title="第二部　第三章" target="_blank">第二部　第三章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508455193.html" title="第二部　第四章" target="_blank">第二部　第四章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508475194.html" title="第二部　第五章" target="_blank">第二部　第五章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508485195.html" title="第二部　第六章" target="_blank">第二部　第六章</a></li>

        <li><a href="http://www.newxue.com/baike/12456508495196.html" title="第二部　第七章" target="_blank">第二部　第七章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508505197.html" title="第二部　第八章" target="_blank">第二部　第八章</a></li>
        <li><a href="http://www.newxue.com/baike/12456508525198.html" title="第二部　第九章" target="_blank">第二部　第九章</a></li>
    </ul>
</div>

<div id="content">
    <!--小说内容-->

        <p>“节前上我家去补考的，都给我站起来！”</p>
        <p>一个脸皮松弛的胖神甫，身上穿着法衣，脖子上挂着沉甸甸的十字架，气势汹汹地瞪着全班的学生。</p>
        <p>六个学生应声从板凳上站了起来，四个男生，两个女生。</p>
        <p>神甫两只小眼睛闪着凶光，像要把他们一口吞下去似的。孩子们惊恐不安地望着他。</p>
        <p>“你们俩坐下。”神甫朝女孩子挥挥手说。</p>
        <p>她们急忙坐下，松了一口气。</p>
        <p>瓦西里神甫那对小眼睛死盯在四个男孩子身上。</p>
        <p>“过来吧，宝贝们！”</p>
        <p>瓦西里神甫站起来，推开椅子，走到挤作一团的四个孩子跟前。</p>
        <p>“你们这几个小无赖，谁抽烟？”</p>
        <p>四个孩子都小声回答：“我们不会抽，神甫。”</p>
        <p>神甫脸都气红了。</p>
        <p>“混帐东西，不会抽，那发面里的烟末是谁撒的？都不会抽吗？好，咱们这就来看看！把口袋翻过来，快点！听见了没有？快翻过来！”</p>
        <p>三个孩子开始把他们口袋里的东西掏出来，放在桌子上。</p>
        <p>神甫仔细地检查口袋的每一条缝，看有没有烟末，但是什么也没有找到，便把目光转到第四个孩子身上。这孩子长着一对黑眼睛，穿着灰衬衣和膝盖打补丁的蓝裤子。</p>
        <p>“你怎么像个木头人，站着不动弹？”</p>
        <p>黑眼睛的孩子压住心头的仇恨，看着神甫，闷声闷气地回答：“我没有口袋。”他用手摸了摸缝死了的袋口。</p>
        <p>“哼，没有口袋！你以为这么一来，我就不知道是谁干的坏事，把发面糟蹋了吗？你以为这回你还能在学校待下去吗？没那么便宜，小宝贝。上回是你妈求情，才把你留下的，这回可不行了。你给我滚出去！”他使劲揪住男孩子的一只耳朵，把他推到走廊上，随手关上了门。</p>
        <p>教室里鸦雀无声，学生一个个都缩着脖子。谁也不明白保尔·柯察金为什么被赶出学校。只有他的好朋友谢廖沙·勃鲁扎克知道是怎么回事。那天他们六个不及格的学生到神甫家里去补考，在厨房里等神甫的时候，他看见保尔把一把烟末撒在神甫家过复活节用的发面里。</p>
        <p>保尔被赶了出来，坐在门口最下一磴台阶上。他想，该怎么回家呢？母亲在税务官家里当厨娘，每天从清早忙到深夜，为他操碎了心，该怎么向她交代呢？</p>
        <p>眼泪哽住了保尔的喉咙。</p>
        <p>“现在我可怎么办呢？都怨这该死的神甫。我给他撒哪门子烟末呢？都是谢廖沙出的馊主意。他说，‘来，咱们给这个害人的老家伙撒上一把。’我们就撒进去了。谢廖沙倒没事，我可说不定要给撵出学校了。”</p>
        <p>保尔跟瓦西里神甫早就结下了仇。有一回，他跟米什卡·列夫丘科夫打架，老师罚他留校，不准回家吃饭，又怕他在空教室里胡闹，就把这个淘气鬼送到高年级教室，让他坐在后面的椅子上。</p>
        <p>高年级老师是个瘦子，穿着一件黑上衣，正在给学生讲地球和天体。他说地球已经存在好几百万年了，星星也跟地球差不多。保尔听他这样说，惊讶得张大了嘴巴。他感到非常奇怪，差点没站起来对老师说：“圣经上可不是这么说的。”</p>
        <p>但是又怕挨骂，没敢做声。</p>
        <p>保尔是信教的。她母亲是个教徒，常给他讲圣经上的道理。世界是上帝创造的，而且并非几百万年以前，而是不久前创造的，保尔对此深信不疑。</p>
        <p>圣经这门课，神甫总是给保尔打满分。新约、旧约和所有的祈祷词，他都背得滚瓜烂熟。上帝哪一天创造了什么，他也都记得一清二楚。保尔打定主意，要向瓦西里神甫问个明白。等到上圣经课的时候，神甫刚坐到椅子上，保尔就举起手来，得到允许以后，他站起来说：“神甫，为什么高年级老师说，地球已经存在好几百万年了，并不像圣经上说的五千……”</p>
        <p>他刚说到这里，就被瓦西里神甫的尖叫声打断了：“混帐东西，你胡说什么？圣经课你是怎么学的？”</p>
        <p>保尔还没有来得及分辩，神甫就揪住他的两只耳朵，把他的头往墙上撞。一分钟之后，保尔已经鼻青脸肿，吓得半死，被神甫推到走廊上去了。</p>
        <p>保尔回到家里，又挨了母亲好一顿责骂。</p>
        <p>第二天，母亲到学校去恳求瓦西里神甫开恩，让她儿子回班学习。从那时起，保尔恨透了神甫。他又恨又怕。他不容许任何人对他稍加侮辱，当然也不会忘掉神甫那顿无端的毒打。他把仇恨埋在心底，不露声色。</p>
        <p>保尔以后又受到瓦西里神甫多次小的侮辱：往往为了鸡毛蒜皮的小事，把他赶出教室，一连几个星期，天天罚他站墙角，而且从来不问他功课。因此，他不得不在复活节前，和几个不及格的同学一起，到神甫家里去补考。就在神甫家的厨房里，他把一把烟末撒到过复活节用的发面里了。</p>
        <p>这件事谁也没有看到，可是神甫马上就猜出了是谁干的。</p>
        <p>……下课了，孩子们一齐拥到院子里，围住了保尔。他愁眉苦脸地坐在那里，一声不响。谢廖沙在教室里没有出来，他觉得自己也有过错，但是又想不出办法帮助他的伙伴。</p>
        <p>校长叶夫列姆·瓦西里耶维奇的脑袋从教员室的窗口探了出来，他那低沉的声音吓得保尔一哆嗦。</p>
        <p>“叫柯察金马上到我这儿来！”他喊道。</p>
        <p>保尔朝教员室走去，心怦怦直跳。</p>
        <p>车站食堂的老板是个上了年纪的人，面色苍白，两眼无神。他朝站在一旁的保尔瞥了一眼。</p>
        <p>“他几岁了？”</p>
        <p>“十二岁。”保尔的母亲回答。</p>
        <p>“行啊，让他留下吧。工钱每月八个卢布，当班的时候管饭。顶班干一天一宿，在家歇一天一宿，可不准偷东西。”</p>
        <p>“哪儿能呢，哪儿能呢，我担保他什么也不偷。”母亲惶恐地说。</p>
        <p>“那让他今天就上工吧。”老板吩咐着，转过身去，对旁边一个站柜台的女招待说：“济娜，把这个小伙计领到洗刷间去，叫弗罗霞给他派活，顶格里什卡。”</p>
        <p>女招待正在切火腿，她放下刀，朝保尔点了点头，就穿过餐室，朝通向洗刷间的旁门走去。保尔跟在她后面。母亲也赶紧跟上，小声嘱咐保尔：“保夫鲁沙，你可要好好干哪，别丢脸！”</p>
        <p>她用忧郁的目光把儿子送走以后，才朝大门口走去。</p>
        <p>洗刷间里正忙得不可开交。桌子上盘碟刀叉堆得像座小山，几个女工肩头搭着毛巾，在逐个地擦那堆东西。</p>
        <p>一个长着乱蓬蓬的红头发的男孩，年纪比保尔稍大一点，在两个大茶炉跟前忙碌着。</p>
        <p>洗家什的大木盆里盛着开水，满屋子雾气腾腾的。保尔刚进来，连女工们的脸都看不清。他站在那里，不知道该干什么，甚至不知道站在哪里好。</p>
        <p>女招待济娜走到一个正在洗家什的女工跟前，扳着她的肩膀，说：“弗罗霞，这个新来的小伙计是派给你的，顶格里什卡。你给他讲讲都要干些什么活吧。”</p>
        <p>济娜又指着那个叫弗罗霞的女工，对保尔说：“她是这儿的领班，她叫你干什么，你就干什么。”说完，转身回餐室去了。</p>
        <p>“嗯。”保尔轻轻答应了一声，同时看了看站在面前的弗罗霞，等她发话。弗罗霞一面擦着额上的汗水，一面从上到下打量着他，好像要估量一下他能干什么活似的，然后挽起从胳膊肘上滑下来的一只袖子，用非常悦耳的、响亮的声音说：“小朋友，你的活不难，就是一清早把这口锅烧开，一天别断了开水。当然，柴也要你自己劈。还有这两个大茶炉，也是你的活。再有，活紧的时候，你也得擦擦刀叉，倒倒脏水。</p>
        <p>小朋友，活不少，够你出几身汗的。”她说的是科斯特罗马方言，总是把“ａ”音发得很重。保尔听到这一口乡音，看到她那红扑扑的脸和翘起的小鼻子，不禁有点高兴起来。</p>
        <p>“看样子这位大婶还不错。”他心里这样想，便鼓起勇气问弗罗霞：“那我现在干些什么呢，大婶？”</p>
        <p>他说到这里，洗刷间的女工们一阵哈哈大笑，淹没了他的话，他愣住了。</p>
</div>
</div>

<script>
    //将服务器的小说目录录入这个ul标签
    var ul=document.getElementById("ul_con");
    var data;//服务器端的小说存放地址，json格式
    for(var i=0;i<data.length;i++){
         var li=$("<li></li>");
         var a=$("<a></a>");
         a.attr("href",data[i].href);
         a.text(data[i].xinxi);
         li.append(a);
         ul.append(li);
    }

    //
    $("#ul_con>li>a").onclick=function (e) {
        e.preventDefault();

    }
</script>
</body>
</html>